
.nav-link{
    color:white;
}
.navbar-brand{
    font-size: 1.7em;
}
.navbar-nav > a{
    padding-left:30px;
    padding-right:30px;
  }
.navbar-nav > a{
    margin-left:30px;
    margin-right:30px;
  }
.second{
    background-color: rgba(0, 0, 0, 0.753);
}

.box1{
    float: left;
    height: 20%;
    color: white;
    width:50%;
}
.box2{
    margin-top: 0%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-left: 50%;
}