body{
    background-color: rgba(0, 0, 0, 0.735);
}
.nav-link{
    color:white;
}
.navbar-brand{
    font-size: 2em;
}
.navbar-nav > a{
    padding-left:45px;
    padding-right:45px;
  }
.navbar-nav > a{
    margin-left:30px;
    margin-right:30px;
  }
.navbar-nav > a:hover{
    color: red;
  }
.second{
    background-color: rgba(0, 0, 0, 0.753);
}


.box1{
    padding: 3%;
    background-image: url('image.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    height: 640px;
    display: flex;
  flex-wrap: wrap;
  align-content: center;
  color: red;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}

.info{
    background-color: black;
    padding-left:5%;
    opacity: 0.9;
    padding-right:5%;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid red;
    border-radius: 25px;
    height: 100px;
}

.info > a{
  
    text-decoration: none;
    padding-left:5%;
    padding-right:5%; 
  justify-content: space-around;
  }
.info > a{
    text-decoration: none;
    
    margin-left:24px;
    margin-right:24px;
  }
.identity{
    color: white;
    background-color: black;
    opacity: 0.8;
    border: 2px solid red;
    border-radius: 25px;
}
.identity:hover{
    color: red;
    background-color: black;
    opacity: 1;
    border: 0.4em;
    border: 2px solid red;
    border-radius: 25px;
}
footer{
    background-color: black;
    clear: both;
    position: relative;
    height: 60px;
    margin-top: -10px;
}
.card-body:hover{
    background-color: white;
    color: black;
}